<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<ul>
    <% students.forEach(function(s) { %>
        <li>
            <img width="200" style="border-radius:12px" src="/images/<%= s.photo %>"/>
            <%= s.name %> - <%= s.city %> - <%= s.about%>
        </li>
    <% }); %>
</ul>
</body>
</html>
