<!DOCTYPE html>
<html>
<head>
    <title><%=name %></title>
    <meta charset="utf-8" />
</head>
<body>
    <!--Закастомізуйте сторінку)-->
    <h1><%=name %></h1>
    <%-photo %>
    <p>Місто: <%=city %></p>
    <p>Про себе: <%=about %></p>
</body>
<html>